a {
  color: $color-grey-700;
  text-decoration: underline;
  transition: color 250ms cubic-bezier(0.645, 0.045, 0.355, 1);
}

a:hover {
  color: $color-grey-900;
}

strong,
b,
em,
i {
  color: $color-grey-900;
  font-weight: 700;
  font-style: normal;
}
