extends ./_layouts/feed.pug

block variables

block body
  .Feed
    .Feed-item
      .Feed-item-inner
    .Feed-item
      .Feed-item-inner
    each post in data.posts
      .Feed-item
        .Feed-item-inner
          .Feed-item-content
            span= post.id
