$feed-gutter: 1rem;

.Feed {
  display: flex;
  flex-flow: row wrap;
  padding: $feed-gutter;
}

.Feed-item {
  position: relative;
  flex: 0 0 25%;
  max-width: 25%;
  padding: 1rem;

}

.Feed-item-inner {
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  background-color: #eee;
}

.Feed-item-content {
  position: absolute;
  top: 0;
  left: 0;
}
