$breakpoints: (
  xs: 320px,
  sm: 480px,
  md: 640px,
  lg: 840px,
  xl: 1086px,
  xx: 1200px
);

@mixin break($size) {
  @media (min-width: map-get($breakpoints, $size)) {
    @content;
  }
}

$gutters: (
  sm: 0.5rem,
  md: 1rem,
  lg: 2rem,
  xl: 4rem
);

@mixin gutter($direction, $size) {

}
